body {
    background: linear-gradient(1115deg, skyblue, white);
    text-align: center;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: sitka small, sans-serif;
}